---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1 class="text-6xl font-semibold">Koen Gommers</h1>
  <p class="my-8">
    Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
    template serves as a lightweight, minimally-styled starting point for anyone looking to build
    a personal website, blog, or portfolio with Astro.
  </p>
</BaseLayout>
