---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1 class="text-6xl font-semibold">Koen Gommers</h1>
  <div class="my-8 prose">
    <p>
      I'm an engineer doing <strong>web development</strong> and <strong>machine learning</strong>. I have a degree in Artificial Intelligence and specialize in Information Retrieval and Natural Language Processing, but I'm also experienced in building full-stack web applications.
    </p>
    <p>
      Regardless of the type of engineering, I take satisfaction out of simplifying complex processes and I aim to develop software that, not only fulfills user needs, but also adheres to good practices, so that it can be maintained and developed with ease of mind. I sometimes like to <a href="/blog">write</a> about these topics.
    </p>
  </div>
</BaseLayout>
