---
import NavLink from './NavLink.astro';
---

<footer>
	<nav class="py-8">
		<NavLink href="https://www.linkedin.com/in/koengommersnl/" target="_blank">LinkedIn</NavLink>
		<NavLink href="https://github.com/koengommers/" target="_blank">GitHub</NavLink>
		<NavLink href="https://bsky.app/profile/koengommers.nl" target="_blank">Bluesky</NavLink>
	</nav>
</footer>
